* {
    margin: 0;
    padding: 0;
}

.grid-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    flex: 1;
    border: 1px solid blue;
    display: flex;
}

.cell {
    border: 1px solid green;
    flex: 1;
}